/*body {
	background-image: url("../img/schoolwithtext.png") !important;
	background-repeat: no-repeat;
	background-position: right;
	background-size: 500px;
	padding-bottom: 350px;
	z-index: 100;
}*/ 

.navbar-inner {
	background-color: white !important;
	background-image: none;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#buffetrlogo {
	font-family: font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 20px;
	font-size: 30px;
	font-weight: 200;
	color: #92202e;
	text-shadow: 0 1px 0 #ffffff;
}

#buffpara {
	font-family: font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 18px;
	font-size: 12px;
	font-weight: 200;
	color: #777777;
	text-shadow: 0 1px 0 #ffffff;
}

#greeting {
	font-family: font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 18px;
	font-size: 20px;
	font-weight: 200;
	color: #777777;
	text-shadow: 0 1px 0 #ffffff;
	padding-top: 40px;
}