

/*body {
	background: url("../img/schoolwithtext.png") 77% 0 fixed no-repeat !important;
	background-repeat: no-repeat;
	background-position: right;
	background-size: 500px;
	padding-bottom: 350px;
	z-index: 100;
	background-size: 100px;
}*/


/*body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
	color: #404040;
}*/



